html {
  font-size: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 14px;
  line-height: 1.25;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-family: inherit;
  margin: 0 0 15px;
  text-rendering: optimizelegibility;
}
h1 {
  font-size: 52px;
  font-weight: 300;
}
h1 span {
  font-weight: 400;
}
h2 {
  font-size: 34px;
  font-weight: 600;
  text-transform: uppercase;
}
p {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 20px;
  margin-top: 0;
}
small {
  display: block;
  font-size: 13px;
}
small a {
  color: #FFF;
  text-decoration: underline;
}
ul {
  list-style-position: inside;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}
li {
  margin-bottom: 20px;
}
a {
  color: #000;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
  line-height: 0;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.positioned {
  position: relative;
  z-index: 1101;
}
.container {
  width: 1170px;
  margin: auto;
}
.container:before,
.container:after {
  content: "";
  display: table;
  line-height: 0;
}
.container:after {
  clear: both;
}

.row {
  padding-top: 45px;
}
.row:before,
.row:after {
  content: "";
  display: table;
  line-height: 0;
}
.row:after {
  clear: both;
}
.align-center {
  text-align: center;
}

.parallax-window {
  background-attachment: fixed;
  background-image: url("../images/bg.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #070506;
  display: block;
  height: 400px;
  margin: 0 auto;
  color: #FFF;
  overflow: hidden;
  padding-top: 1px;
  position: relative;
  width: 100%;
}
.parallax-window p {
  font-size: 20px;
  font-weight: 300;
  color: #FFF;
  margin-bottom: 30px;
}
.main-info {
  position: relative;
  z-index: 1000;
}
